.catalogo__titulo {
    text-align: center;
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 1rem;
}

.catalogo {
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.tarjeta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
     .tarjeta {
        grid-template-columns: repeat(2, 1fr);
     }
}
@media (min-width: 1140px) {
    .tarjeta {
       grid-template-columns: repeat(3, 1fr);
    }
}
.tarjeta__contenedor{
    background-color: white;
    padding: 1rem;
    margin: 0 2rem;
    text-align: center;
    border-radius: 5%;

}

.tarjeta__imagen {
    max-width: 250px;
    height: 200px;
    border-radius: 10%;

}

.tarjeta__nombre{
    padding-top: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;


}

.tarjeta__descripcion{
    text-align: justify;
}